
body {
    background: url(../images/world-map.png); 
}
h1 {
    text-align: center;
    font-size: 30px;
}

.flex {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.submit-btn {
    text-align: center;
}

#resetButton {
    text-align: center;
    border-radius: 6px;
    font-size: 25px;
    width: 180px;
    height: 50px;
    background-color: #ccc9c9;
}
.reset-container {
    text-align: center;
    margin-top: 20px;
}

.high-scr-btn {
    text-align: center;
}

#highScore {
    text-align: center;
    border-radius: 6px;
    font-size: 25px;
    width: 180px;
    height: 50px;
    background-color: #ccc9c9;
}


#germany {
    margin: 10px;
    text-align: center;
    font-size: 20px;
    width: 200px;
    height: 150px;
    color: rgb(35, 30, 17);
    border-radius: 8px;
    background: url(../images/germany_flag.png);
}

.ger {
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(235, 243, 243, 0.803);
}

#france {
    margin: 10px;
    text-align: center;
    font-size: 20px;
    width: 200px;
    height: 150px;
    color: rgb(35, 30, 17);
    border-radius: 8px;
    background: url(../images/france_flag.png);
}

.fr {
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(235, 243, 243, 0.803); 
}

#italy {
    margin: 10px;
    text-align: center;
    font-size: 20px;
    width: 200px;
    height: 150px;
    color: rgb(35, 30, 17);
    border-radius: 8px;
    background: url(../images/italy_flag.png);
}

.itl {
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(235, 243, 243, 0.803);
}

#england {
    margin: 10px;
    text-align: center;
    font-size: 20px;
    width: 200px;
    height: 150px;
    color: rgb(35, 30, 17);
    border-radius: 8px;
    background: url(../images/uk_flag.jpg);
}

.eng {
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(235, 243, 243, 0.803);
}

#australia {
    margin: 10px;
    text-align: center;
    font-size: 20px;
    width: 200px;
    height: 150px;
    color: rgb(35, 30, 17);
    border-radius: 8px;
    background: url(../images/australia_flag.jpg);
}

.austr {
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(235, 243, 243, 0.803);
}

.score {
    text-align: center;
    font-size: 30px;
}